

body {
    font-family: 'Kufam', cursive;
    background: linear-gradient(#fb8500, #ffb703);
    height: 100vh;
    margin: 0;
    display: flex;
    color: #023047;
}

/*
    SIDE MARGIN ======================================= SIDE MARGIN
*/









button {
    align-self: center;
    background-color: #023047;
    color: #8ecae6;
    width: 70%;
    height: 4vh;
    margin: 1vh;
}

/*
    BODY OBJECTS ======================================= BODY OBJECTS
*/



#game-container {

    display: grid;
    grid-template-rows: 33% 34% 33%;
    grid-template-columns: 33% 34% 33%;
}

#name-container {
    grid-row-start: 1;
    grid-row-end: 2;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#name-container label {
    margin-bottom: 2vh;
}



.score-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}


/* ADD RESPONSIVE DESIGN HERE!! */
@media only screen and (min-width: 650px) {

    body {
        flex-direction: row;
    }

    header h1 {
        margin: 1vmin;
        align-self: center;
    }

    header h2 {
        align-self: center;
        font-size: 1.5em;
        font-weight: lighter;
    }

    header {
        background: linear-gradient(#219ebc, #8ecae6);
        border-right: 1px solid #023047;
        width: 200px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #name-container {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    #body-container {
        height: 100vh;
        width: 50vw;
        width: 100%;
        display: grid;
        grid-template-columns: 25% 50% 25%;
        grid-template-rows: 20% 60% 20%;
    }

    #game-container {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        font-size: 5em;
    }

    #bottom-half {
        height: 50vh;
        width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    #player-one-container {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    
    #player-two-container {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }

}

@media only screen and (max-width: 649px) {

    body {
        flex-direction: column;
    }

    header h1 {
        margin: 1vmin;
        align-self: center;
        font-size: 1.2em;
    }

    header h2 {
        align-self: center;
        font-size: .8em;
        font-weight: lighter;
        margin-left: 2vw;
    }

    #name-container {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    header {
        background: linear-gradient(#219ebc, #8ecae6);
        border-bottom: 1px solid #023047;
        width: 100vw;
        height: 120px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #game-container {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
        margin-left: 5vw;
        margin-right: 5vw;
        font-size: 3em;
    }

    #body-container {
        height: 100%;
        width: 100vw;
        display: grid;
        grid-template-columns: 30% 40% 30%;
        grid-template-rows: 25% 50% 25%;
    }

    #bottom-half {
        width: 50vw;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    #player-one-container {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    
    #player-two-container {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
    }

}